In [1]:
# This notebook is used for preprocessing the data

In [4]:
import pandas as pd
import numpy as np
import h5py
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

This Python script efficiently opens an HDF5 file, extracts all datasets into pandas DataFrames, and then prints their key properties. It's designed for streamlined data loading and preliminary analysis, perfect for large-scale machine learning tasks in predictive maintenance using the N-CMAPSS dataset.

In [13]:
import h5py
import pandas as pd

file_name = '/mnt/e/PdM/DataX/NASA/N-CMAPSS_DS01-005.h5'

# Function to load a dataset into a DataFrame
def load_dataset(file, name):
    return pd.DataFrame(file[name][:])

# Open the HDF5 file and load datasets
with h5py.File(file_name, 'r') as file:
    datasets = file.keys()
    dataframes = {name: load_dataset(file, name) for name in datasets}

# Print properties of each DataFrame
for name, df in dataframes.items():
    print(f"DataFrame: {name}")
    print(f"Shape: {df.shape}")
    print(f"Data Types:\n{df.dtypes}")
    print(f"First few rows:\n{df.head()}")
    print("-" * 50)  # Separator line

DataFrame: A_dev
Shape: (4906636, 4)
Data Types:
0    float64
1    float64
2    float64
3    float64
dtype: object
First few rows:
     0    1    2    3
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
--------------------------------------------------
DataFrame: A_test
Shape: (2735232, 4)
Data Types:
0    float64
1    float64
2    float64
3    float64
dtype: object
First few rows:
     0    1    2    3
0  7.0  1.0  1.0  1.0
1  7.0  1.0  1.0  1.0
2  7.0  1.0  1.0  1.0
3  7.0  1.0  1.0  1.0
4  7.0  1.0  1.0  1.0
--------------------------------------------------
DataFrame: A_var
Shape: (4, 1)
Data Types:
0    |S5
dtype: object
First few rows:
          0
0   b'unit'
1  b'cycle'
2     b'Fc'
3     b'hs'
--------------------------------------------------
DataFrame: T_dev
Shape: (4906636, 10)
Data Types:
0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object
First few rows:
     0    1    2    3    4    5         6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0 -0.000604  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0 -0.000604  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0 -0.000604  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0 -0.000604  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0 -0.000604  0.0  0.0  0.0
--------------------------------------------------
DataFrame: T_test
Shape: (2735232, 10)
Data Types:
0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object
First few rows:
     0    1    2    3    4    5         6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0 -0.000294  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0 -0.000294  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0 -0.000294  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0 -0.000294  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0 -0.000294  0.0  0.0  0.0
--------------------------------------------------
DataFrame: T_var
Shape: (10, 1)
Data Types:
0    |S12
dtype: object
First few rows:
                 0
0   b'fan_eff_mod'
1  b'fan_flow_mod'
2   b'LPC_eff_mod'
3  b'LPC_flow_mod'
4   b'HPC_eff_mod'
--------------------------------------------------
DataFrame: W_dev
Shape: (4906636, 4)
Data Types:
0    float64
1    float64
2    float64
3    float64
dtype: object
First few rows:
        0         1          2           3
0  3013.0  0.376362  70.311996  522.314770
1  3020.0  0.376866  70.311996  522.327145
2  3025.0  0.377685  70.311996  522.371840
3  3035.0  0.376992  70.399887  522.282418
4  3043.0  0.377622  70.399887  522.300605
--------------------------------------------------
DataFrame: W_test
Shape: (2735232, 4)
Data Types:
0    float64
1    float64
2    float64
3    float64
dtype: object
First few rows:
        0         1          2           3
0  3002.0  0.356832  75.497513  520.902124
1  3012.0  0.358722  75.497513  520.998906
2  3021.0  0.358911  75.497513  520.981786
3  3027.0  0.358911  75.497513  520.959729
4  3031.0  0.359037  75.497513  520.954503
--------------------------------------------------
DataFrame: W_var
Shape: (4, 1)
Data Types:
0    |S4
dtype: object
First few rows:
         0
0   b'alt'
1  b'Mach'
2   b'TRA'
3    b'T2'
--------------------------------------------------
DataFrame: X_s_dev
Shape: (4906636, 14)
Data Types:
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object
First few rows:
           0            1            2            3          4          5   \
0  618.288596  1470.469798  1849.620676  1269.275585  19.432070  14.484611
1  618.296355  1470.415593  1849.519871  1269.177159  19.431385  14.484683
2  618.336514  1470.453853  1849.566139  1269.167353  19.435163  14.488224
3  618.302173  1470.650929  1850.195069  1269.518670  19.426003  14.477632
4  618.345228  1470.640421  1849.950988  1269.253972  19.427484  14.478114

          6          7           8           9          10           11  \
0  19.727990  24.410990  394.701872  401.205188  15.974771  2142.253462
1  19.727295  24.410483  394.629899  401.132851  15.970518  2142.218596
2  19.731130  24.415476  394.667850  401.171401  15.969419  2142.257956
3  19.721830  24.406544  394.773533  401.272707  15.967762  2142.794673
4  19.723334  24.410159  394.732158  401.234620  15.962571  2143.015150

            12        13
0  8693.176503  4.621622
1  8693.000298  4.620561
2  8693.106262  4.621064
3  8693.680367  4.624305
4  8693.714825  4.622768
--------------------------------------------------
DataFrame: X_s_test
Shape: (2735232, 14)
Data Types:
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object
First few rows:
           0            1            2            3          4          5   \
0  621.674181  1488.551493  1885.475241  1286.679674  19.571523  14.347092
1  621.752333  1488.649010  1885.710506  1286.797034  19.579783  14.354987
2  621.752887  1488.614773  1885.475391  1286.549261  19.576369  14.351740
3  621.722013  1488.535686  1885.397382  1286.502521  19.571636  14.348539
4  621.711675  1488.507278  1885.369727  1286.480744  19.569790  14.347373

          6          7           8           9          10           11  \
0  19.869566  24.805181  411.027529  417.599021  16.192771  2187.393521
1  19.877952  24.815442  411.135531  417.707092  16.192917  2187.398835
2  19.874486  24.812676  411.050986  417.624171  16.186282  2187.566998
3  19.869681  24.806527  410.939458  417.510548  16.182301  2187.465879
4  19.867807  24.804093  410.894346  417.464535  16.180325  2187.428493

            12        13
0  8750.194243  4.906341
1  8750.437647  4.908367
2  8750.392156  4.906368
3  8750.127774  4.904992
4  8750.030721  4.904434
--------------------------------------------------
DataFrame: X_s_var
Shape: (14, 1)
Data Types:
0    |S4
dtype: object
First few rows:
        0
0  b'T24'
1  b'T30'
2  b'T48'
3  b'T50'
4  b'P15'
--------------------------------------------------
DataFrame: X_v_dev
Shape: (4906636, 14)
Data Types:
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object
First few rows:
            0           1          2            3           4           5   \
0  2842.168810  420.110144  74.694922  2855.856726  269.297963  269.293218
1  2842.021180  420.034399  74.681617  2856.011475  269.256204  269.254244
2  2842.086141  420.074765  74.688791  2856.932332  269.279712  269.276125
3  2843.024327  420.180845  74.708484  2855.808906  269.292374  269.296081
4  2842.630316  420.140964  74.703400  2856.331265  269.296153  269.290780

          6          7           8           9          10        11  \
0  31.319011  18.791407  255.174279  269.985138  15.879671  9.925145
1  31.314408  18.788645  255.135216  269.944204  15.888485  9.916771
2  31.316992  18.790195  255.156706  269.966648  15.902505  9.911186
3  31.319350  18.791610  255.179231  269.989313  15.889568  9.927131
4  31.318723  18.791234  255.172343  269.983253  15.895957  9.916870

          12         13
0  25.648148  42.152925
1  25.651719  42.150936
2  25.652633  42.151475
3  25.632641  42.169738
4  25.644562  42.160144
--------------------------------------------------
DataFrame: X_v_test
Shape: (2735232, 14)
Data Types:
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
dtype: object
First few rows:
            0           1          2            3           4           5   \
0  2894.050970  437.276462  77.892220  2887.638988  277.486848  277.485428
1  2894.405494  437.389625  77.911674  2889.462868  277.545396  277.539273
2  2894.033519  437.302797  77.897708  2889.319622  277.505584  277.502326
3  2893.929293  437.183820  77.876160  2888.670093  277.433361  277.433766
4  2893.892679  437.135638  77.867389  2888.467907  277.405646  277.405406

          6          7           8           9          10         11  \
0  32.286716  19.372030  263.200010  278.461955  15.302997  10.356779
1  32.293077  19.375846  263.252267  278.516344  15.330226  10.349000
2  32.288712  19.373227  263.216354  278.479010  15.335705  10.343239
3  32.280614  19.368368  263.149755  278.408710  15.336222  10.341406
4  32.277264  19.366358  263.122467  278.379771  15.338176  10.341040

          12         13
0  24.963357  42.972368
1  24.960929  42.978820
2  24.968860  42.970154
3  24.968547  42.969761
4  24.968332  42.969588
--------------------------------------------------
DataFrame: X_v_var
Shape: (14, 1)
Data Types:
0    |S5
dtype: object
First few rows:
        0
0  b'T40'
1  b'P30'
2  b'P45'
3  b'W21'
4  b'W22'
--------------------------------------------------
DataFrame: Y_dev
Shape: (4906636, 1)
Data Types:
0    int64
dtype: object
First few rows:
    0
0  99
1  99
2  99
3  99
4  99
--------------------------------------------------
DataFrame: Y_test
Shape: (2735232, 1)
Data Types:
0    int64
dtype: object
First few rows:
    0
0  89
1  89
2  89
3  89
4  89
--------------------------------------------------

In [ ]:
print(df.describe())

In [ ]:
stats.shapiro(df['sensor_column'])  #

In [ ]:
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True)
plt.show()

In [ ]:
sns.histplot(df['sensor_column'], kde=True)
plt.show()

In [ ]:
plt.plot(df['time_column'], df['sensor_column'])  # جایگزین 'time_column' و 'sensor_column' با نام ستون‌های مورد نظر
plt.show()

In [ ]:
sns.boxplot(data=df['sensor_column'])
plt.show()

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

plot_acf(df['sensor_column'])
plot_pacf(df['sensor_column'])
plt.show()